.card-book {
    position: relative !important;
    height: 480px !important;
}

.card-book p, .card-book b {
    text-align: left;
    margin: 0px 10px 0px 10px;
}

.card-book b {
    margin-top: 10px;
}

.img-book {
    max-height: 250px;
}

.card-book .div-btn {
    width: 100%;
    position: absolute !important;
    bottom: 0 !important;
}

.card-book .btn-borow {
    border-radius: 0 !important;
}

.card-book .btn-read {
    border-radius: 0 !important;
}

.card-book .btn {
    padding: 8px 20px !important;
}